<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Delete Event
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Delete Event</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-list>
  <ion-radio-group>
    <ion-list-header>
      <ion-label>
        Events
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>Event 1</ion-label>
      <ion-radio value="1"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Event 2</ion-label>
      <ion-radio value="2"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Event 3</ion-label>
      <ion-radio value="3"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Event 4</ion-label>
      <ion-radio value="4"></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Event 5</ion-label>
      <ion-radio value="5"></ion-radio>
    </ion-item>
  </ion-radio-group>
</ion-list>


<ion-button color = "danger">Delete Event</ion-button>
<ion-button color = "light">Cancel</ion-button>



  <app-explore-container name="Tab 1 page"></app-explore-container>
</ion-content>
